@charset "UTF-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	border: 0;
}

nav{
	width: 100%;
	height: 70px;
	background-color: #E9ED58;
	}

header{
	width: 100%;
    height: 650px;
	background-image:url("../img/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	
}

section#promo{
	width: 100%;
	height: 400px;
	background-image: url("../img/bg_bienvenida.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	margin-left: auto;
	margin-right: auto;

}

section#contenidos{
	width: 100%;
	height: 600px;
	background-image: url("../img/fondoEspecialidades.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-left: auto;
	margin-right: auto;
		
}

section#ubicacion{
	width: 100%;
	height: 422px;
	background-color: white;
}

footer{
	width: 100%;
	height: 200px;
	background-color: #A1C133;
}

div#centrarnav, div#centararheader, div#centrarpromo, div#centrarcontenidos, div#centrarubicacion, div#centrarfooter{
	width: 1200px;
	height: 100%;
	background-color: rgba(146,218,62,0.33);
	position: relative;
	margin: 0 auto;
}
nav img{
	float: left;
	margin-top: 19px;
	margin-left: 9px;
	
}

ul#menuprincipal{
	float: left;
	margin-top: 29px;
	margin-left: 62px;
	list-style: none;
}

ul#menuprincipal li{
	float: left;
	margin-left: 43px;
}

ul#menuprincipal a{
	color: #262626;
	font-size: 20px;
	font-family: "Helvetica Neue", sans-serif;
	text-decoration: none;
		
}

ul#socialestop{
	float: right;
	margin-top: 29px;
	margin-right: 0px;
	list-style: none;
	
}

ul#socialestop li{
	float: left;
	margin-left: 20px;
}

div#face{
	width: 11px;
	height: 21px;
	background-image: url("../img/redes/faceWhite.svg");
}

div#face:hover{
	background-image: url("../img/redes/faceHover.svg");
}

div#twitter{
	width: 23px;
	height: 18px;
	background-image: url("../img/redes/twitterWhite.svg");
}

div#twitter:hover{
	background-image: url("../img/redes/twitterHover.svg");
}

div#inst{
	width: 21px;
	height: 21px;
	background-image: url("../img/redes/inwhite.svg");
}

div#inst:hover{
	background-image: url("../img/redes/inHover.svg");
}